/VirtualGreenhouse/nbproject/private/
/VirtualGreenhouse/build/
/VirtualGreenhouse/nbbuild/
/VirtualGreenhouse/nbdist/
/VirtualGreenhouse/.nb-gradle/
/VirtualGreenhouse/dist/
/VirtualGreenhouse/.idea
